.ContLink {
    width: 100%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  

    .link {
        text-decoration: none;
        color: rgb(0, 4, 255);
        margin: 0 5px ;
    }



}