// Переменные
$header-bg-color: #ebebeb;
$header-bg-scrolled-color: #d0d0d0;
$header-text-color: #333;
$header-hover-color: #0A6E9D;
$logo-width: 150px;
$menu-bg-color: #ebebeb;
$menu-hover-color: #0A6E9D;
$dropdown-bg-color: #fff;
$dropdown-border-color: #ddd;
$dropdown-padding: 10px 15px;
$burger-bar-bg-color: #333;
$burger-bar-hover-bg-color: #000;
$transition-speed: 0.3s;
$dropdown-padding: 10px 15px;

header {
    
    background-color: $header-bg-color;
    color: $header-text-color;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; // Хедер всегда сверху
    transition: all $transition-speed ease;
  
    &.scrolled {
      background-color: $header-bg-scrolled-color;
    }



    
  
    .container {
      max-width: 1440px;
      margin: 0 auto;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      
      
    }


  
    .logo {
      img {
        width: $logo-width;
        transition: transform $transition-speed ease;
  
        &:hover {
          transform: scale(1.1) rotate(-5deg);
        }
      }
    }
  
    nav#top-menu {
      display: flex;
      align-items: center;
      transition: opacity $transition-speed ease;
  
      &.active {
        opacity: 1;
      }
  
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
  
        li {
          margin: 0 20px;
          position: relative;
  
          .link{
            color: $header-text-color;
            text-decoration: none;
            font-weight: bold;
            padding: 10px;
            display: block;
            transition: color $transition-speed ease;
            position: relative;
  
            &::after {
              content: '';
              position: absolute;
              left: 0;
              bottom: 0;
              height: 3px;
              width: 100%;
              background-color: $menu-hover-color;
              transform: scaleX(0);
              transition: transform $transition-speed ease;
              transform-origin: bottom right;
            }
  
            &:hover {
              color: $menu-hover-color;
  
              &::after {
                transform: scaleX(1);
              }
            }
  
            .arrow {
              display: inline-block;
              margin-left: 8px;
              border: solid $header-text-color;
              border-width: 0 2px 2px 0;
              padding: 3px;
              transform: rotate(45deg);
              transition: transform $transition-speed ease;
            }
  
            &.open .arrow {
              transform: rotate(-135deg);
            }
          }
  
          .dropdown {
            display: none;
            list-style: none;
            position: absolute;
            left: 0;
            top: calc(100% + 5px); // Расстояние от элемента меню
            background-color: $dropdown-bg-color;
            border: 1px solid $dropdown-border-color;
            padding: $dropdown-padding;
            z-index: 1001; // Убедитесь, что значение выше, чем у других элементов
            min-width: 200px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Тень для визуального отделения
          }
  
          &.open .dropdown {
            display: block;
          }
        }
      }
    }
  
    .menu-toggle {
      display: none;
      flex-direction: column;
      cursor: pointer;
  
      .bar {
        background-color: $burger-bar-bg-color;
        height: 3px;
        width: 30px;
        margin: 3px 0;
        transition: all $transition-speed ease;
      }
  
      &.active {
        .bar {
          &:nth-child(1) {
            transform: rotate(45deg) translate(5px, 6px);
          }
  
          &:nth-child(2) {
            opacity: 0;
          }
  
          &:nth-child(3) {
            transform: rotate(-45deg) translate(5px, -6px);
          }
        }
      }
    }
  
    .language-switcher {
      display: flex;
      align-items: center;
      gap: 20px;
  
      select {
        display: none;
        font-size: 17px;
        padding: 10px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        color: white;
        transition: border-color $transition-speed ease;
        background-color: #005a8a;
        max-width: 150px;


        
  
        &:focus {
          border-color: #007bff;
          outline: none;
        }
  
        option {
          padding: 10px 10px;
        }
      }
  
      .lang-btn {
        position: relative;
        font-size: 14px;
        padding: 10px 20px;
        border: none;
        background-color: #0A6E9D;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color $transition-speed ease;
        color: white;
  
        &.active {
          background-color: #005a8a;
          
        }
  
        &:not(.active) {
          background-color: #0A6E9D;
        }
      }
    }
  
    @media (max-width: 1100px) {
        .menu-toggle {
          display: flex;
        }

        .flex{
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      
        nav#top-menu {
          display: flex;
          flex-direction: column;
          width: 100%;
          background-color: $menu-bg-color;
          position: fixed;
          top: 60px; // Высота хедера
          left: 0;
          height: auto; // Высота экрана минус высота хедера
          opacity: 0;
          transition: opacity $transition-speed ease;
          z-index: 1000; // Убедитесь, что меню всегда сверху
      
          &.active {
            opacity: 1;
          }
      
          ul {
            flex-direction: column;
            align-items: center; // Центрирование элементов по горизонтали
            padding: 0;
            width: 100%;
            margin: 0;
      
            li {
              width: 100%; // Занимает всю ширину контейнера
              text-align: center; // Центрирование текста по горизонтали
              border-bottom: 1px solid #ddd;
      
              .link{
                padding: 15px;
                display: block; // Убедитесь, что ссылки занимают весь блок
              }
      
              
              .dropdown {
                display: none;
                list-style: none;
                background-color: $dropdown-bg-color;
                border: 1px solid $dropdown-border-color;
                padding: 0px;
                position: static; 
                width: 100%;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
                z-index: 1001; 
                text-align: center;
      
                li {
                  padding: 0;
                  margin: 0;
      
                  .link{
                    display: block;
                    padding: 12px 20px; // Увеличьте отступы для лучшего вида
                    color: $header-text-color;
                    text-decoration: none;
                    transition: background-color $transition-speed ease;
      
                   
                  }
                }
              }
      
              &.open .dropdown {
                display: block;
              }
            }
          }
        }
      
        .language-switcher {
          select {
            display: block;
          }
      
          .lang-btn {
            display: none;
          }
        }
      }
      
      
      &:hover {
        background-color: #d0d0d0;

    }
      
  }
  